<nav class="nav">
  <div class="logo">
    logo
  </div>
  <div>
    <ul class="menu">
      <li><a href="/inicio"> Home </a></li>
      <li><a href="/upload"> Cargar archivos </a></li>
      <li><a href="/game_api"> Game of thrones</a></li>
    </ul>
  </div>
</nav>